.field {
  padding: 5px 10px;
  font-size: 16px;
}
.field:focus {
  outline: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.label {
  align-self: start;
  margin-bottom: 5px;
  font-size: 10px;
  color: #64748b;
}
