.baseItem {
    padding:5px 0 5px 10px;
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
}

.baseItem:hover{
    background-color:#2e2e2e54 ;
    transform: scale(1.02);
}
.baseItem__title{
    font-size: 18px;
}
.baseItem__date{
    font-size: 12px;
}

.baseItem__status {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.baseItem__status__success {
    background-color: green;
}

.baseItem__status__yellow {
    background-color: orange;
}

.baseItem__status__error {
    background-color: red;
}