.baseList__container {
    width: 100%;
}

.baseList__loader__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.baseList__loader {
    width: 32px;
    height: 32px;
    background-color: bisque;
    animation-name: loader;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}