.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  gap: 20px;
  > video {
    visibility: hidden;
  }
}

.cameraImg {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;

  > img {
    width: full;
    height: full;
  }
}
